In [1]:
import os
import sys

In [2]:
os.environ["PYSPARK_PYTHON"]="C:\Spark\spark-3.3.2-bin-hadoop2\python"
os.environ["JAVA_HOME"] = "C:\Program Files\Java\jdk-18.0.2.1"
os.environ["SPARK_HOME"] = "C:\Spark\spark-3.3.2-bin-hadoop2"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.9.5-src.zip")
sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("r_eda").getOrCreate()
spark

In [4]:
data = spark.read.option("header","true").csv("../data/r_hosp_demo_dataset.csv")
data.printSchema()

root
 |-- subject_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- dod: string (nullable = true)
 |-- hadm_id: string (nullable = true)
 |-- age: string (nullable = true)
 |-- so2: string (nullable = true)
 |-- po2: string (nullable = true)
 |-- pco2: string (nullable = true)
 |-- fio2: string (nullable = true)
 |-- aado2: string (nullable = true)
 |-- ph: string (nullable = true)
 |-- baseexcess: string (nullable = true)
 |-- bg2_bicarbonate: string (nullable = true)
 |-- totalco2: string (nullable = true)
 |-- bg2_hematocrit: string (nullable = true)
 |-- bg2_haemoglobin: string (nullable = true)
 |-- carboxyhemoglobin: string (nullable = true)
 |-- methemoglobin: string (nullable = true)
 |-- bg2_chloride: string (nullable = true)
 |-- bg2_calcium: string (nullable = true)
 |-- temperature: string (nullable = true)
 |-- bg2_potassium: string (nullable = true)
 |-- bg2_sodium: string (nullable = true)
 |-- bg2_lactate: string (nullable = true)
 |-- bg2_glucose: string (nullable = true)
 |-- db_wbc: string (nullable = true)
 |-- basophils_abs: string (nullable = true)
 |-- eosinophils_abs: string (nullable = true)
 |-- lymphocytes_abs: string (nullable = true)
 |-- monocytes_abs: string (nullable = true)
 |-- neutrophils_abs: string (nullable = true)
 |-- basophils: string (nullable = true)
 |-- eosinophils: string (nullable = true)
 |-- lymphocytes: string (nullable = true)
 |-- monocytes: string (nullable = true)
 |-- neutrophils: string (nullable = true)
 |-- atypical_lymphocytes: string (nullable = true)
 |-- bands: string (nullable = true)
 |-- immature_granulocytes: string (nullable = true)
 |-- metamyelocytes: string (nullable = true)
 |-- nrbc: string (nullable = true)
 |-- troponin_t: string (nullable = true)
 |-- cm_ck_mb: string (nullable = true)
 |-- ntprobnp: string (nullable = true)
 |-- albumin: string (nullable = true)
 |-- globulin: string (nullable = true)
 |-- total_protein: string (nullable = true)
 |-- aniongap: string (nullable = true)
 |-- bicarbonate: string (nullable = true)
 |-- bun: string (nullable = true)
 |-- calcium: string (nullable = true)
 |-- chloride: string (nullable = true)
 |-- creatinine: string (nullable = true)
 |-- glucose: string (nullable = true)
 |-- sodium: string (nullable = true)
 |-- potassium: string (nullable = true)
 |-- d_dimer: string (nullable = true)
 |-- fibrinogen: string (nullable = true)
 |-- thrombin: string (nullable = true)
 |-- inr: string (nullable = true)
 |-- pt: string (nullable = true)
 |-- ptt: string (nullable = true)
 |-- hematocrit: string (nullable = true)
 |-- hemoglobin: string (nullable = true)
 |-- mch: string (nullable = true)
 |-- mchc: string (nullable = true)
 |-- mcv: string (nullable = true)
 |-- platelet: string (nullable = true)
 |-- rbc: string (nullable = true)
 |-- rdw: string (nullable = true)
 |-- rdwsd: string (nullable = true)
 |-- wbc: string (nullable = true)
 |-- scr_min: string (nullable = true)
 |-- ckd: string (nullable = true)
 |-- mdrd_est: string (nullable = true)
 |-- scr_baseline: string (nullable = true)
 |-- alt: string (nullable = true)
 |-- alp: string (nullable = true)
 |-- ast: string (nullable = true)
 |-- amylase: string (nullable = true)
 |-- bilirubin_total: string (nullable = true)
 |-- bilirubin_direct: string (nullable = true)
 |-- bilirubin_indirect: string (nullable = true)
 |-- ck_cpk: string (nullable = true)
 |-- ck_mb: string (nullable = true)
 |-- ggt: string (nullable = true)
 |-- ld_ldh: string (nullable = true)
 |-- crp: string (nullable = true)
 |-- charlson_comorbidity_index: string (nullable = true)

In [5]:
data.count()

275

In [6]:
data.describe().toPandas()

,summary,subject_id,gender,dod,hadm_id,age,so2,po2,pco2,fio2,...,amylase,bilirubin_total,bilirubin_direct,bilirubin_indirect,ck_cpk,ck_mb,ggt,ld_ldh,crp,charlson_comorbidity_index
0,count,275,275,103,275,275,59,97,97,31,...,19,147,22,20,66,68,2,98,17,275
1,mean,1.0018901541818181E7,None,None,2.513054658909091E7,63.24551506545073,89.55932203389831,215.17525773195877,49.175257731958766,62.25806451612903,...,80.47368421052632,1.6231292517006808,3.236363636363636,2.3899999999999997,753.1515151515151,19.941176470588236,119.5,804.3877551020408,119.21764705882352,4.658181818181818
2,stddev,12127.768989002532,None,None,2907533.4283764022,14.498736578535334,15.296237069879457,139.02742612440406,14.354159029469436,22.908466763674202,...,86.75980150907871,3.7482976597641318,5.573623721178294,3.2701038129344484,2483.911656068209,73.4281824688914,37.476659402887016,2050.951916945327,101.68431685426052,2.744516158619529
3,min,10000032,F,2111-11-15,20044587,21.15688799024573661664,37,100,112,100,...,110,0.1,0.1,0.1,102,1,146,1040,0.4,0
4,max,10040025,M,2201-12-24,29974575,93.8402972093388311,99,98,94,94,...,96,9.5,6.9,5.9,99,9,93,995,87.8,9

- All the rows has subject, gender, age, admission id (hadm_id) and charlson_comorbidity_index.
- The min and max age values looks good.

To Do
- Check for valid gender values and remove invalid genders (those other than 'M' and 'F').
- Remove columns with more than 50% missing values
- impute missing values by calculating the average of the value between the last & next reading for the same subject.
- Remove columns with more than 25% missing values after impuatation.
- remove rows which has data in less than 25% of the columns.

#### Check for valid gender values and remove invalid genders (those other than 'M' and 'F').

In [7]:
#checking for gender values
data.groupby("gender").count().show()

+------+-----+
|gender|count|
+------+-----+
|     F|  133|
|     M|  142|
+------+-----+

Gender column values looks good.

#### Remove columns with more than 50% missing values

In [8]:
dt = data.describe().toPandas()
dt

,summary,subject_id,gender,dod,hadm_id,age,so2,po2,pco2,fio2,...,amylase,bilirubin_total,bilirubin_direct,bilirubin_indirect,ck_cpk,ck_mb,ggt,ld_ldh,crp,charlson_comorbidity_index
0,count,275,275,103,275,275,59,97,97,31,...,19,147,22,20,66,68,2,98,17,275
1,mean,1.0018901541818181E7,None,None,2.513054658909091E7,63.24551506545073,89.55932203389831,215.17525773195877,49.175257731958766,62.25806451612903,...,80.47368421052632,1.6231292517006808,3.236363636363636,2.3899999999999997,753.1515151515151,19.941176470588236,119.5,804.3877551020408,119.21764705882352,4.658181818181818
2,stddev,12127.768989002532,None,None,2907533.4283764022,14.498736578535334,15.296237069879457,139.02742612440406,14.354159029469436,22.908466763674202,...,86.75980150907871,3.7482976597641318,5.573623721178294,3.2701038129344484,2483.911656068209,73.4281824688914,37.476659402887016,2050.951916945327,101.68431685426052,2.744516158619529
3,min,10000032,F,2111-11-15,20044587,21.15688799024573661664,37,100,112,100,...,110,0.1,0.1,0.1,102,1,146,1040,0.4,0
4,max,10040025,M,2201-12-24,29974575,93.8402972093388311,99,98,94,94,...,96,9.5,6.9,5.9,99,9,93,995,87.8,9

In [9]:
# identify and get columns with < 50% missing values
dt_t = dt.T
dt_t.columns = dt_t.iloc[0]
dt_t.drop(dt_t.index[0], inplace=True)
#dt_t.drop(dt_t.index[89], inplace=True)
dt_t["count"] = dt_t['count'].astype(int)
dt_t['missing_percentage'] = 100 - (dt_t["count"] / data.count())*100
print(dt_t)
dt_t = dt_t[dt_t["missing_percentage"] < 50]
print(dt_t)
print(dt_t.shape)

summary                     count                  mean              stddev  \
subject_id                    275  1.0018901541818181E7  12127.768989002532
gender                        275                  None                None
dod                           103                  None                None
hadm_id                       275   2.513054658909091E7  2907533.4283764022
age                           275     63.24551506545073  14.498736578535334
...                           ...                   ...                 ...
ck_mb                          68    19.941176470588236    73.4281824688914
ggt                             2                 119.5  37.476659402887016
ld_ldh                         98     804.3877551020408   2050.951916945327
crp                            17    119.21764705882352  101.68431685426052
charlson_comorbidity_index    275     4.658181818181818   2.744516158619529

summary                                         min                  max  \
subject_id                                 10000032             10040025
gender                                            F                    M
dod                                      2111-11-15           2201-12-24
hadm_id                                    20044587             29974575
age                         21.15688799024573661664  93.8402972093388311
...                                             ...                  ...
ck_mb                                             1                    9
ggt                                             146                   93
ld_ldh                                         1040                  995
crp                                             0.4                 87.8
charlson_comorbidity_index                        0                    9

summary                     missing_percentage
subject_id                            0.000000
gender                                0.000000
dod                                  62.545455
hadm_id                               0.000000
age                                   0.000000
...                                        ...
ck_mb                                75.272727
ggt                                  99.272727
ld_ldh                               64.363636
crp                                  93.818182
charlson_comorbidity_index            0.000000

[89 rows x 6 columns]
summary                     count                  mean               stddev  \
subject_id                    275  1.0018901541818181E7   12127.768989002532
gender                        275                  None                 None
hadm_id                       275   2.513054658909091E7   2907533.4283764022
age                           275     63.24551506545073   14.498736578535334
db_wbc                        245    16.230204081632642    17.86018748751892
basophils_abs                 141     0.186704255319149   0.7303802693384494
eosinophils_abs               141    0.4209907801418439   0.9996315214618342
lymphocytes_abs               141     3.520324113475176    6.808578087120277
monocytes_abs                 141    1.8931780141843977    5.817096760032841
neutrophils_abs               141    13.137476595744683   14.132556666215972
basophils                     141    0.8801418439716312   1.9355774279879832
eosinophils                   141    2.4524822695035464   2.9387942512991785
lymphocytes                   141    22.235460992907793    19.63785387878571
monocytes                     141      8.96595744680851    8.142234072040091
neutrophils                   141     73.73404255319149   15.899882433470264
aniongap                      246    17.308943089430894    4.773447103061638
bicarbonate                   246    28.166666666666668    4.054811536759687
bun                           250                32.576   28.269291383785436
calcium                       236     8.992372881355935   0.6444733003281966
chloride                      250               105.244    6.170963226968249
creatinine                    250    1.7867999999999997   2.0121183466595234
glucose                       246     204.1747967479675   129.57820873329723
sodium                        250               140.732   5.0519565576359575
potassium                     250                4.7252   0.7233102174604826
inr                           205     1.697560975609756   1.0727205209730493
pt                            205    18.472195121951216   11.486290104028269
ptt                           198    48.185858585858604    33.42926469564617
hematocrit                    248    35.087903225806464    5.424320592049635
hemoglobin                    246    11.383333333333347   1.8937078052594811
mch                           245    30.051428571428577     3.06505422089874
mchc                          245    33.280816326530605   1.7976531111226857
mcv                           245      92.5469387755102    8.213520990775413
platelet                      248     289.0282258064516    146.6061788251573
rbc                           245     3.878530612244898   0.6770266207215246
rdw                           245    15.926122448979601     2.92087793921014
wbc                           245    16.230204081632642    17.86018748751892
scr_min                       250                1.0892   0.9665506923922074
ckd                           275   0.26181818181818184   0.4404256853769406
mdrd_est                      275    0.9483440261915842  0.12797510680700927
scr_baseline                  271    1.0588143183485186   0.9260105173178504
alt                           146     157.4931506849315    719.6650777206676
alp                           144                 128.5    85.63755140001497
ast                           147     255.0612244897959   1216.1321869870426
bilirubin_total               147    1.6231292517006808   3.7482976597641318
charlson_comorbidity_index    275     4.658181818181818    2.744516158619529

summary                                         min                     max  \
subject_id                                 10000032                10040025
gender                                            F                       M
hadm_id                                    20044587                29974575
age                         21.15688799024573661664     93.8402972093388311
db_wbc                                          0.7                      98
basophils_abs                                0.0000                  6.3600
eosinophils_abs                              0.0000                  9.5000
lymphocytes_abs                              0.2540                  9.7200
monocytes_abs                                0.0700                  9.2460
neutrophils_abs                              0.2100                 97.5200
basophils                                         0                       7
eosinophils                                       0                       8
lymphocytes                                     1.7                      92
monocytes                                         1                     9.8
neutrophils                                      32                      98
aniongap                                         10                       9
bicarbonate                                      17                      46
bun                                              10                      99
calcium                                          10                     9.9
chloride                                        100                      99
creatinine                                      0.3                     9.4
glucose                                         100                      99
sodium                                          126                     168
potassium                                       3.4                     8.3
inr                                             0.9                     9.6
pt                                               10                    94.3
ptt                                           105.8                    96.9
hematocrit                                       23                    52.6
hemoglobin                                       10                     9.9
mch                                            20.7                    37.9
mchc                                           27.8                    37.9
mcv                                             100                      99
platelet                                        104                      95
rbc                                            2.42                    6.72
rdw                                              12                    29.3
wbc                                             0.7                      98
scr_min                                         0.1                       6
ckd                                               0                       1
mdrd_est                     0.76304145092510801528  1.22005455512109229427
scr_baseline                                    0.1                       6
alt                                             100                      98
alp                                             100                      99
ast                                            1015                      98
bilirubin_total                                 0.1                     9.5
charlson_comorbidity_index                        0                       9

summary                     missing_percentage
subject_id                            0.000000
gender                                0.000000
hadm_id                               0.000000
age                                   0.000000
db_wbc                               10.909091
basophils_abs                        48.727273
eosinophils_abs                      48.727273
lymphocytes_abs                      48.727273
monocytes_abs                        48.727273
neutrophils_abs                      48.727273
basophils                            48.727273
eosinophils                          48.727273
lymphocytes                          48.727273
monocytes                            48.727273
neutrophils                          48.727273
aniongap                             10.545455
bicarbonate                          10.545455
bun                                   9.090909
calcium                              14.181818
chloride                              9.090909
creatinine                            9.090909
glucose                              10.545455
sodium                                9.090909
potassium                             9.090909
inr                                  25.454545
pt                                   25.454545
ptt                                  28.000000
hematocrit                            9.818182
hemoglobin                           10.545455
mch                                  10.909091
mchc                                 10.909091
mcv                                  10.909091
platelet                              9.818182
rbc                                  10.909091
rdw                                  10.909091
wbc                                  10.909091
scr_min                               9.090909
ckd                                   0.000000
mdrd_est                              0.000000
scr_baseline                          1.454545
alt                                  46.909091
alp                                  47.636364
ast                                  46.545455
bilirubin_total                      46.545455
charlson_comorbidity_index            0.000000
(45, 6)

After removing all the columns with missing value % >= 50, we get remaining 45 feature fields which are as follows.

In [10]:
print(dt_t.shape)
dt_t.index

(45, 6)

Index(['subject_id', 'gender', 'hadm_id', 'age', 'db_wbc', 'basophils_abs',
       'eosinophils_abs', 'lymphocytes_abs', 'monocytes_abs',
       'neutrophils_abs', 'basophils', 'eosinophils', 'lymphocytes',
       'monocytes', 'neutrophils', 'aniongap', 'bicarbonate', 'bun', 'calcium',
       'chloride', 'creatinine', 'glucose', 'sodium', 'potassium', 'inr', 'pt',
       'ptt', 'hematocrit', 'hemoglobin', 'mch', 'mchc', 'mcv', 'platelet',
       'rbc', 'rdw', 'wbc', 'scr_min', 'ckd', 'mdrd_est', 'scr_baseline',
       'alt', 'alp', 'ast', 'bilirubin_total', 'charlson_comorbidity_index'],
      dtype='object')

In [11]:
# Filter out only the identified column data from the data
data = data.select(dt_t.index.values.tolist())

In [12]:
# round off age by 2 decimal point
print(data.printSchema())
data.describe().toPandas()

root
 |-- subject_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- hadm_id: string (nullable = true)
 |-- age: string (nullable = true)
 |-- db_wbc: string (nullable = true)
 |-- basophils_abs: string (nullable = true)
 |-- eosinophils_abs: string (nullable = true)
 |-- lymphocytes_abs: string (nullable = true)
 |-- monocytes_abs: string (nullable = true)
 |-- neutrophils_abs: string (nullable = true)
 |-- basophils: string (nullable = true)
 |-- eosinophils: string (nullable = true)
 |-- lymphocytes: string (nullable = true)
 |-- monocytes: string (nullable = true)
 |-- neutrophils: string (nullable = true)
 |-- aniongap: string (nullable = true)
 |-- bicarbonate: string (nullable = true)
 |-- bun: string (nullable = true)
 |-- calcium: string (nullable = true)
 |-- chloride: string (nullable = true)
 |-- creatinine: string (nullable = true)
 |-- glucose: string (nullable = true)
 |-- sodium: string (nullable = true)
 |-- potassium: string (nullable = true)
 |-- inr: string (nullable = true)
 |-- pt: string (nullable = true)
 |-- ptt: string (nullable = true)
 |-- hematocrit: string (nullable = true)
 |-- hemoglobin: string (nullable = true)
 |-- mch: string (nullable = true)
 |-- mchc: string (nullable = true)
 |-- mcv: string (nullable = true)
 |-- platelet: string (nullable = true)
 |-- rbc: string (nullable = true)
 |-- rdw: string (nullable = true)
 |-- wbc: string (nullable = true)
 |-- scr_min: string (nullable = true)
 |-- ckd: string (nullable = true)
 |-- mdrd_est: string (nullable = true)
 |-- scr_baseline: string (nullable = true)
 |-- alt: string (nullable = true)
 |-- alp: string (nullable = true)
 |-- ast: string (nullable = true)
 |-- bilirubin_total: string (nullable = true)
 |-- charlson_comorbidity_index: string (nullable = true)

None

,summary,subject_id,gender,hadm_id,age,db_wbc,basophils_abs,eosinophils_abs,lymphocytes_abs,monocytes_abs,...,wbc,scr_min,ckd,mdrd_est,scr_baseline,alt,alp,ast,bilirubin_total,charlson_comorbidity_index
0,count,275,275,275,275,245,141,141,141,141,...,245,250,275,275,271,146,144,147,147,275
1,mean,1.0018901541818181E7,None,2.513054658909091E7,63.24551506545073,16.230204081632642,0.186704255319149,0.4209907801418439,3.520324113475176,1.8931780141843977,...,16.230204081632642,1.0892,0.26181818181818184,0.9483440261915842,1.0588143183485186,157.4931506849315,128.5,255.0612244897959,1.6231292517006808,4.658181818181818
2,stddev,12127.768989002532,None,2907533.4283764022,14.498736578535334,17.86018748751892,0.7303802693384494,0.9996315214618342,6.808578087120277,5.817096760032841,...,17.86018748751892,0.9665506923922074,0.4404256853769406,0.12797510680700927,0.9260105173178504,719.6650777206676,85.63755140001497,1216.1321869870426,3.7482976597641318,2.744516158619529
3,min,10000032,F,20044587,21.15688799024573661664,0.7,0.0000,0.0000,0.2540,0.0700,...,0.7,0.1,0,0.76304145092510801528,0.1,100,100,1015,0.1,0
4,max,10040025,M,29974575,93.8402972093388311,98,6.3600,9.5000,9.7200,9.2460,...,98,6,1,1.22005455512109229427,6,98,99,98,9.5,9

#### type conversion for the columns data

Except for Gender, all other columns contain decimal values. Hence converting every column type to decimal with 2 decimal values.

In [25]:
# converting all number columns to double of precision 2 except for gender
import pyspark.sql.functions as F

cols = data.columns
cols.remove("gender")
data2 = data.select(*(F.round(F.col(c).cast("double"), 2).alias(c) for c in cols), "gender")
print(data2.columns)
print(data2.printSchema())
data2.describe().toPandas()

['subject_id', 'hadm_id', 'age', 'db_wbc', 'basophils_abs', 'eosinophils_abs', 'lymphocytes_abs', 'monocytes_abs', 'neutrophils_abs', 'basophils', 'eosinophils', 'lymphocytes', 'monocytes', 'neutrophils', 'aniongap', 'bicarbonate', 'bun', 'calcium', 'chloride', 'creatinine', 'glucose', 'sodium', 'potassium', 'inr', 'pt', 'ptt', 'hematocrit', 'hemoglobin', 'mch', 'mchc', 'mcv', 'platelet', 'rbc', 'rdw', 'wbc', 'scr_min', 'ckd', 'mdrd_est', 'scr_baseline', 'alt', 'alp', 'ast', 'bilirubin_total', 'charlson_comorbidity_index', 'gender']
root
 |-- subject_id: double (nullable = true)
 |-- hadm_id: double (nullable = true)
 |-- age: double (nullable = true)
 |-- db_wbc: double (nullable = true)
 |-- basophils_abs: double (nullable = true)
 |-- eosinophils_abs: double (nullable = true)
 |-- lymphocytes_abs: double (nullable = true)
 |-- monocytes_abs: double (nullable = true)
 |-- neutrophils_abs: double (nullable = true)
 |-- basophils: double (nullable = true)
 |-- eosinophils: double (nullable = true)
 |-- lymphocytes: double (nullable = true)
 |-- monocytes: double (nullable = true)
 |-- neutrophils: double (nullable = true)
 |-- aniongap: double (nullable = true)
 |-- bicarbonate: double (nullable = true)
 |-- bun: double (nullable = true)
 |-- calcium: double (nullable = true)
 |-- chloride: double (nullable = true)
 |-- creatinine: double (nullable = true)
 |-- glucose: double (nullable = true)
 |-- sodium: double (nullable = true)
 |-- potassium: double (nullable = true)
 |-- inr: double (nullable = true)
 |-- pt: double (nullable = true)
 |-- ptt: double (nullable = true)
 |-- hematocrit: double (nullable = true)
 |-- hemoglobin: double (nullable = true)
 |-- mch: double (nullable = true)
 |-- mchc: double (nullable = true)
 |-- mcv: double (nullable = true)
 |-- platelet: double (nullable = true)
 |-- rbc: double (nullable = true)
 |-- rdw: double (nullable = true)
 |-- wbc: double (nullable = true)
 |-- scr_min: double (nullable = true)
 |-- ckd: double (nullable = true)
 |-- mdrd_est: double (nullable = true)
 |-- scr_baseline: double (nullable = true)
 |-- alt: double (nullable = true)
 |-- alp: double (nullable = true)
 |-- ast: double (nullable = true)
 |-- bilirubin_total: double (nullable = true)
 |-- charlson_comorbidity_index: double (nullable = true)
 |-- gender: string (nullable = true)

None

,summary,subject_id,hadm_id,age,db_wbc,basophils_abs,eosinophils_abs,lymphocytes_abs,monocytes_abs,neutrophils_abs,...,scr_min,ckd,mdrd_est,scr_baseline,alt,alp,ast,bilirubin_total,charlson_comorbidity_index,gender
0,count,275,275,275,245,141,141,141,141,141,...,250,275,275,271,146,144,147,147,275,275
1,mean,1.0018901541818181E7,2.513054658909091E7,63.245490909090904,16.230204081632642,0.18652482269503545,0.42106382978723406,3.520425531914892,1.8931914893617021,13.137588652482266,...,1.0892,0.26181818181818184,0.94869090909091,1.0588929889298897,157.4931506849315,128.5,255.0612244897959,1.6231292517006808,4.658181818181818,None
2,stddev,12127.768989002532,2907533.4283764022,14.498681894371888,17.86018748751892,0.7304235423130522,0.9995368228246375,6.8085801826330465,5.817153491325577,14.132572250994672,...,0.9665506923922074,0.4404256853769406,0.1281383935819178,0.9260038954735257,719.6650777206676,85.63755140001497,1216.1321869870426,3.7482976597641318,2.744516158619529,None
3,min,1.0000032E7,2.0044587E7,21.16,0.7,0.0,0.0,0.25,0.07,0.21,...,0.1,0.0,0.76,0.1,7.0,28.0,5.0,0.1,0.0,F
4,max,1.0040025E7,2.9974575E7,93.84,182.6,6.36,9.5,57.41,58.43,97.52,...,6.0,1.0,1.22,6.0,8010.0,590.0,13060.0,35.9,12.0,M

#### Impute missing values - Calculating the average of the values between the prev & next admission reading for the same subject.

In [ ]:
# sample for verification
data2.filter((data2.subject_id == 10040025)).select("subject_id","age","basophils_abs", "db_wbc", "platelet", "ast").orderBy("age").show()

In [14]:
# Before impute
data2.toPandas().to_csv("../data/EDA/before_imputation.csv")

In [26]:
# Use window function to impute missing values.
# https://sqlrelease.com/get-the-first-non-null-value-per-group-spark-dataframe
from pyspark.sql.window import Window
subject_win_prev = Window.partitionBy("subject_id").orderBy(F.desc("age")).rowsBetween(Window.currentRow+1,Window.unboundedFollowing)
subject_win_next = Window.partitionBy("subject_id").orderBy("age").rowsBetween(Window.currentRow+1,Window.unboundedFollowing)
#wi_next = Window.partitionBy("subject_id").orderBy(F.desc("age"))
for c in data2.columns:
    if (c not in ("subject_id", "age", "gender", "hadm_id", "charlson_comorbidity_index")):
            data2 = data2.withColumn('temp_' + c + 'prev', F.first(c, ignorenulls = True).over(subject_win_prev)) \
            .withColumn('temp_' + c + 'next', F.first(c, ignorenulls = True).over(subject_win_next)) \
            .withColumn(c , F.when(F.col(c).isNotNull() ,F.col(c)) \
                        .when(F.col(c).isNull() & F.col('temp_' + c + 'prev').isNull(), F.col('temp_' + c + 'next')) \
                        .when(F.col(c).isNull() & F.col('temp_' + c + 'next').isNull(), F.col('temp_' + c + 'prev')) \
                        .otherwise(((F.col('temp_' + c + 'prev') + F.col('temp_' + c + 'next'))/2))) \
            .drop('temp_' + c + 'prev', 'temp_' + c + 'next')

In [16]:
# same sample for verification
data2.filter((data2.subject_id == 10040025)).select("subject_id","age","basophils_abs", "db_wbc", "platelet", "ast").orderBy("age").show()

+-----------+-----+-------------+------+--------+----+
| subject_id|  age|basophils_abs|db_wbc|platelet| ast|
+-----------+-----+-------------+------+--------+----+
|1.0040025E7|64.21|         0.01|   8.9|   202.0|16.0|
|1.0040025E7|66.51|         0.01|   8.9|   238.5|16.0|
|1.0040025E7|66.56|         0.01|   8.9|   275.0|16.0|
|1.0040025E7| 66.8|         0.01|   6.2|   258.0|16.0|
|1.0040025E7|68.46|         0.01|  12.6|   281.0|16.0|
|1.0040025E7|68.59|         0.01|  11.3|   307.0|16.0|
|1.0040025E7|68.86|         0.06|   9.8|   275.0|16.0|
|1.0040025E7|68.93|         0.06|   8.6|   323.0|16.0|
|1.0040025E7|68.99|         0.06|  12.6|   366.0|16.0|
|1.0040025E7|69.06|         0.11|  16.7|   349.0|16.0|
+-----------+-----+-------------+------+--------+----+

In [17]:
data2.toPandas().to_csv("../data/EDA/after_imputation.csv")

#### Remove columns with more than 25% missing values after impuatation.

In [ ]:
# identify and get columns with < 25% missing values
dt = data2.describe().toPandas()
print(dt)
dt_t = dt.T
dt_t.columns = dt_t.iloc[0]
dt_t.drop(dt_t.index[0], inplace=True)
dt_t["count"] = dt_t['count'].astype(int)
dt_t['missing_percentage'] = 100 - (dt_t["count"] / data.count())*100
print(dt_t)
print(dt_t.shape)
dt_t = dt_t[dt_t["missing_percentage"] < 25]
print(dt_t)
print(dt_t.shape)
dt_t.index

In [ ]:
print(dt_t.shape)
dt_t.index

In [ ]:
# Filter out only the identified column data from the data
print(data2.columns)
print(len(data2.columns))
data2 = data2.select(dt_t.index.values.tolist())
print(data2.columns)
print(len(data2.columns))

No columns removed.

#### retain rows which has missing values less than 25% of the columns.

In [27]:
# calculate missing percentage for every row
from operator import add
from functools import reduce
for c in data2.columns:
    if ('missing_' not in c) and (c not in ("subject_id", "age", "gender", "hadm_id", "charlson_comorbidity_index")):
            data2 = data2.withColumn('missing_' + c, F.when(F.col(c).isNull(), 1).otherwise(0))

data2 = data2.withColumn('missing_percentage', (reduce(add, [F.col(x) for x in data2.columns if "missing_" in x])/(len(data2.columns)-5))*100)
data2.toPandas()

,subject_id,hadm_id,age,db_wbc,basophils_abs,eosinophils_abs,lymphocytes_abs,monocytes_abs,neutrophils_abs,basophils,...,missing_wbc,missing_scr_min,missing_ckd,missing_mdrd_est,missing_scr_baseline,missing_alt,missing_alp,missing_ast,missing_bilirubin_total,missing_percentage
0,10000032.0,22595853.0,52.35,4.2,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,12.5
1,10000032.0,22841357.0,52.49,6.6,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,12.5
2,10000032.0,29079034.0,52.56,4.8,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,12.5
3,10000032.0,25742920.0,52.60,7.5,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,12.5
4,10001217.0,24597018.0,55.88,19.0,0.13,0.29,5.170,1.18,12.24,0.70,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,10040025.0,22251969.0,68.59,11.3,0.01,0.11,1.080,0.92,9.08,0.10,...,0,0,0,0,0,0,0,0,0,0.0
271,10040025.0,27876215.0,68.86,9.8,0.06,0.11,0.815,0.85,9.16,0.55,...,0,0,0,0,0,0,0,0,0,0.0
272,10040025.0,27259207.0,68.93,8.6,0.06,0.11,0.815,0.85,9.16,0.55,...,0,0,0,0,0,0,0,0,0,0.0
273,10040025.0,25933959.0,68.99,12.6,0.06,0.11,0.815,0.85,9.16,0.55,...,0,0,0,0,0,0,0,0,0,0.0
274,10040025.0,27996267.0,69.06,16.7,0.11,0.11,0.550,0.78,9.24,1.00,...,0,0,0,0,0,0,0,0,0,0.0

In [36]:
data2.groupBy("missing_percentage").count().toPandas()

   missing_percentage  count
0                0.00    204
1                1.25      2
2               12.50     22
3               18.75      1
4                2.50      2
5               17.50     30
6               21.25      2
7               16.25      2
8                5.00     10

In [44]:
data3 = data2.filter("missing_percentage < 25")

In [40]:
print(data2.count())
print(data3.count())

275
275

None of the rows has missing % >= 25

In [47]:
print(len(data3.columns))
condition = lambda x: ("missing_" in x)
data3 = data3.drop(*filter(condition, data3.columns))
len(data3.columns)

86

45

In [48]:
data3.toPandas().to_csv("../data/EDA/after_eda.csv")