In [1]:
import os
import sys

In [2]:
os.environ["PYSPARK_PYTHON"]="C:\Spark\spark-3.3.2-bin-hadoop2\python"
os.environ["JAVA_HOME"] = "C:\Program Files\Java\jdk-18.0.2.1"
os.environ["SPARK_HOME"] = "C:\Spark\spark-3.3.2-bin-hadoop2"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.9.5-src.zip")
sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("r_eda").getOrCreate()
spark

In [ ]:
data = spark.read.option("header","true").csv("../data/r_hosp_demo_dataset.csv")
data.printSchema()

In [ ]:
data.count()

In [ ]:
data.describe().toPandas()

- All the rows has subject, gender, age, admission id (hadm_id) and charlson_comorbidity_index.
- The min and max age values looks good.

To Do
- Check for valid gender values and remove invalid genders (those other than 'M' and 'F').
- Remove columns with more than 50% missing values
- impute missing values by calculating the average of the value between the last & next reading for the same subject.
- Remove columns with more than 25% missing values after impuatation.
- remove rows which has data in less than 25% of the columns.

#### Check for valid gender values and remove invalid genders (those other than 'M' and 'F').

In [ ]:
#checking for gender values
data.groupby("gender").count().show()

Gender column values looks good.

#### Remove columns with more than 50% missing values

In [ ]:
dt = data.describe().toPandas()
dt

In [ ]:
# identify and get columns with < 50% missing values
dt_t = dt.T
dt_t.columns = dt_t.iloc[0]
dt_t.drop(dt_t.index[0], inplace=True)
#dt_t.drop(dt_t.index[89], inplace=True)
dt_t["count"] = dt_t['count'].astype(int)
dt_t['missing_percentage'] = 100 - (dt_t["count"] / data.count())*100
print(dt_t)
dt_t = dt_t[dt_t["missing_percentage"] < 50]
print(dt_t)
print(dt_t.shape)

After removing all the columns with missing value % >= 50, we get remaining 45 feature fields which are as follows.

In [ ]:
print(dt_t.shape)
dt_t.index

In [ ]:
# Filter out only the identified column data from the data
data = data.select(dt_t.index.values.tolist())

In [ ]:
# round off age by 2 decimal point
print(data.printSchema())
data.describe().toPandas()

#### type conversion for the columns data

Except for Gender, all other columns contain decimal values. Hence converting every column type to decimal with 2 decimal values.

In [ ]:
# converting all number columns to double of precision 2 except for gender
import pyspark.sql.functions as F

cols = data.columns
cols.remove("gender")
data2 = data.select(*(F.round(F.col(c).cast("double"), 2).alias(c) for c in cols), "gender")
print(data2.columns)
print(data2.printSchema())
data2.describe().toPandas()

#### Impute missing values - Calculating the average of the values between the prev & next admission reading for the same subject.

In [ ]:
# sample for verification
data2.filter((data2.subject_id == 10040025)).select("subject_id","age","basophils_abs", "db_wbc", "platelet", "ast").orderBy("age").show()

In [ ]:
# Before impute
data2.toPandas().to_csv("../data/EDA/before_imputation.csv")

In [ ]:
# Use window function to impute missing values.
# https://sqlrelease.com/get-the-first-non-null-value-per-group-spark-dataframe
from pyspark.sql.window import Window
subject_win_prev = Window.partitionBy("subject_id").orderBy(F.desc("age")).rowsBetween(Window.currentRow+1,Window.unboundedFollowing)
subject_win_next = Window.partitionBy("subject_id").orderBy("age").rowsBetween(Window.currentRow+1,Window.unboundedFollowing)
#wi_next = Window.partitionBy("subject_id").orderBy(F.desc("age"))
for c in data2.columns:
    if (c not in ("subject_id", "age", "gender", "hadm_id", "charlson_comorbidity_index")):
            data2 = data2.withColumn('temp_' + c + 'prev', F.first(c, ignorenulls = True).over(subject_win_prev)) \
            .withColumn('temp_' + c + 'next', F.first(c, ignorenulls = True).over(subject_win_next)) \
            .withColumn(c , F.when(F.col(c).isNotNull() ,F.col(c)) \
                        .when(F.col(c).isNull() & F.col('temp_' + c + 'prev').isNull(), F.col('temp_' + c + 'next')) \
                        .when(F.col(c).isNull() & F.col('temp_' + c + 'next').isNull(), F.col('temp_' + c + 'prev')) \
                        .otherwise(((F.col('temp_' + c + 'prev') + F.col('temp_' + c + 'next'))/2))) \
            .drop('temp_' + c + 'prev', 'temp_' + c + 'next')

In [ ]:
# same sample for verification
data2.filter((data2.subject_id == 10040025)).select("subject_id","age","basophils_abs", "db_wbc", "platelet", "ast").orderBy("age").show()

In [ ]:
data2.toPandas().to_csv("../data/EDA/after_imputation.csv")

#### Remove columns with more than 25% missing values after impuatation.

In [ ]:
# identify and get columns with < 25% missing values
dt = data2.describe().toPandas()
print(dt)
dt_t = dt.T
dt_t.columns = dt_t.iloc[0]
dt_t.drop(dt_t.index[0], inplace=True)
dt_t["count"] = dt_t['count'].astype(int)
dt_t['missing_percentage'] = 100 - (dt_t["count"] / data.count())*100
print(dt_t)
print(dt_t.shape)
dt_t = dt_t[dt_t["missing_percentage"] < 25]
print(dt_t)
print(dt_t.shape)
dt_t.index

In [ ]:
print(dt_t.shape)
dt_t.index

In [ ]:
# Filter out only the identified column data from the data
print(data2.columns)
print(len(data2.columns))
data2 = data2.select(dt_t.index.values.tolist())
print(data2.columns)
print(len(data2.columns))

No columns removed.

#### retain rows which has missing values less than 25% of the columns.

In [ ]:
# calculate missing percentage for every row
from operator import add
from functools import reduce
for c in data2.columns:
    if ('missing_' not in c) and (c not in ("subject_id", "age", "gender", "hadm_id", "charlson_comorbidity_index")):
            data2 = data2.withColumn('missing_' + c, F.when(F.col(c).isNull(), 1).otherwise(0))

data2 = data2.withColumn('missing_percentage', (reduce(add, [F.col(x) for x in data2.columns if "missing_" in x])/(len(data2.columns)-5))*100)
data2.toPandas()

In [ ]:
data2.groupBy("missing_percentage").count().toPandas()

In [ ]:
data3 = data2.filter("missing_percentage < 25")

In [ ]:
print(data2.count())
print(data3.count())

None of the rows has missing % >= 25

In [ ]:
print(len(data3.columns))
condition = lambda x: ("missing_" in x)
data3 = data3.drop(*filter(condition, data3.columns))
len(data3.columns)

In [ ]:
data3.toPandas().to_csv("../data/EDA/after_eda.csv")

In [4]:
data4 = spark.read.option("header","true").csv("../data/EDA/after_eda.csv")
data4.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- subject_id: string (nullable = true)
 |-- hadm_id: string (nullable = true)
 |-- age: string (nullable = true)
 |-- db_wbc: string (nullable = true)
 |-- basophils_abs: string (nullable = true)
 |-- eosinophils_abs: string (nullable = true)
 |-- lymphocytes_abs: string (nullable = true)
 |-- monocytes_abs: string (nullable = true)
 |-- neutrophils_abs: string (nullable = true)
 |-- basophils: string (nullable = true)
 |-- eosinophils: string (nullable = true)
 |-- lymphocytes: string (nullable = true)
 |-- monocytes: string (nullable = true)
 |-- neutrophils: string (nullable = true)
 |-- aniongap: string (nullable = true)
 |-- bicarbonate: string (nullable = true)
 |-- bun: string (nullable = true)
 |-- calcium: string (nullable = true)
 |-- chloride: string (nullable = true)
 |-- creatinine: string (nullable = true)
 |-- glucose: string (nullable = true)
 |-- sodium: string (nullable = true)
 |-- potassium: string (nullable = true)
 |-- inr: string (nullable = true)
 |-- pt: string (nullable = true)
 |-- ptt: string (nullable = true)
 |-- hematocrit: string (nullable = true)
 |-- hemoglobin: string (nullable = true)
 |-- mch: string (nullable = true)
 |-- mchc: string (nullable = true)
 |-- mcv: string (nullable = true)
 |-- platelet: string (nullable = true)
 |-- rbc: string (nullable = true)
 |-- rdw: string (nullable = true)
 |-- wbc: string (nullable = true)
 |-- scr_min: string (nullable = true)
 |-- ckd: string (nullable = true)
 |-- mdrd_est: string (nullable = true)
 |-- scr_baseline: string (nullable = true)
 |-- alt: string (nullable = true)
 |-- alp: string (nullable = true)
 |-- ast: string (nullable = true)
 |-- bilirubin_total: string (nullable = true)
 |-- charlson_comorbidity_index: string (nullable = true)
 |-- gender: string (nullable = true)

In [8]:
# get the first admission readings and last admission co-morbidity index value
from pyspark.sql.window import Window
import pyspark.sql.functions as F
subject_win = Window.partitionBy("subject_id").orderBy(("age"))
base_data = data4.withColumn("row",F.row_number().over(subject_win)) \
  .filter(F.col("row") == 1).drop("row", "charlson_comorbidity_index")

In [9]:
base_data.count()

100

In [10]:
subject_win_predict = Window.partitionBy("subject_id").orderBy(F.desc("age"))
base_data_predict = data4.withColumn("row",F.row_number().over(subject_win_predict)) \
  .filter(F.col("row") == 1).select("subject_id", "charlson_comorbidity_index")
base_data_predict.count()

100

In [11]:
print(base_data.columns)
print(base_data_predict.columns)

['_c0', 'subject_id', 'hadm_id', 'age', 'db_wbc', 'basophils_abs', 'eosinophils_abs', 'lymphocytes_abs', 'monocytes_abs', 'neutrophils_abs', 'basophils', 'eosinophils', 'lymphocytes', 'monocytes', 'neutrophils', 'aniongap', 'bicarbonate', 'bun', 'calcium', 'chloride', 'creatinine', 'glucose', 'sodium', 'potassium', 'inr', 'pt', 'ptt', 'hematocrit', 'hemoglobin', 'mch', 'mchc', 'mcv', 'platelet', 'rbc', 'rdw', 'wbc', 'scr_min', 'ckd', 'mdrd_est', 'scr_baseline', 'alt', 'alp', 'ast', 'bilirubin_total', 'gender']
['subject_id', 'charlson_comorbidity_index']

In [12]:
base_data.toPandas()

,_c0,subject_id,hadm_id,age,db_wbc,basophils_abs,eosinophils_abs,lymphocytes_abs,monocytes_abs,neutrophils_abs,...,wbc,scr_min,ckd,mdrd_est,scr_baseline,alt,alp,ast,bilirubin_total,gender
0,0,10000032.0,22595853.0,52.35,4.2,None,None,None,None,None,...,4.2,0.3,0.0,0.85,0.3,88.0,103.0,98.0,1.3,F
1,4,10001217.0,24597018.0,55.88,19.0,0.13,0.29,5.17,1.18,12.24,...,19.0,0.4,0.0,0.84,0.4,12.0,56.0,17.0,0.4,F
2,6,10001725.0,25563031.0,46.28,20.1,0.22,0.42,5.73,0.94,18.99,...,20.1,0.8,0.0,0.86,0.8,None,None,None,None,F
3,7,10002428.0,25797028.0,80.53,6.0,0.17,1.9,6.01,1.17,28.49,...,6.0,0.8,0.0,0.78,0.8,66.0,163.0,102.0,0.2,F
4,14,10002495.0,24982426.0,81.39,36.8,0.0,0.22,1.79,2.21,33.49,...,36.8,1.1,0.0,1.01,1.1,44.0,99.0,210.0,0.6,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,249,10038999.0,27189241.0,45.39,11.5,0.03,0.26,1.56,1.17,7.6,...,11.5,0.6,0.0,1.12,0.6,54.0,127.0,36.0,1.5,M
96,251,10039708.0,20572787.0,46.83,7.0,0.21,0.39,6.32,1.64,14.35,...,7.0,0.8,0.0,0.86,0.8,70.0,325.0,139.0,4.6,F
97,261,10039831.0,26924951.0,57.99,15.3,None,None,None,None,None,...,15.3,0.4,0.0,0.83,0.4,1343.0,125.0,1015.0,2.0,F
98,262,10039997.0,24294180.0,67.68,8.5,0.02,0.16,1.33,0.5,2.75,...,8.5,0.9,0.0,0.81,0.9,16.0,73.0,15.0,0.2,F
99,265,10040025.0,27125816.0,64.21,8.9,0.01,0.11,1.08,0.92,9.08,...,8.9,1.5,1.0,0.82,1.5,7.0,199.0,16.0,0.7,F

In [14]:
base_data = base_data.drop("_c0")

In [15]:
base_data.toPandas()

,subject_id,hadm_id,age,db_wbc,basophils_abs,eosinophils_abs,lymphocytes_abs,monocytes_abs,neutrophils_abs,basophils,...,wbc,scr_min,ckd,mdrd_est,scr_baseline,alt,alp,ast,bilirubin_total,gender
0,10000032.0,22595853.0,52.35,4.2,None,None,None,None,None,None,...,4.2,0.3,0.0,0.85,0.3,88.0,103.0,98.0,1.3,F
1,10001217.0,24597018.0,55.88,19.0,0.13,0.29,5.17,1.18,12.24,0.7,...,19.0,0.4,0.0,0.84,0.4,12.0,56.0,17.0,0.4,F
2,10001725.0,25563031.0,46.28,20.1,0.22,0.42,5.73,0.94,18.99,1.1,...,20.1,0.8,0.0,0.86,0.8,None,None,None,None,F
3,10002428.0,25797028.0,80.53,6.0,0.17,1.9,6.01,1.17,28.49,0.5,...,6.0,0.8,0.0,0.78,0.8,66.0,163.0,102.0,0.2,F
4,10002495.0,24982426.0,81.39,36.8,0.0,0.22,1.79,2.21,33.49,0.0,...,36.8,1.1,0.0,1.01,1.1,44.0,99.0,210.0,0.6,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,10038999.0,27189241.0,45.39,11.5,0.03,0.26,1.56,1.17,7.6,0.3,...,11.5,0.6,0.0,1.12,0.6,54.0,127.0,36.0,1.5,M
96,10039708.0,20572787.0,46.83,7.0,0.21,0.39,6.32,1.64,14.35,1.0,...,7.0,0.8,0.0,0.86,0.8,70.0,325.0,139.0,4.6,F
97,10039831.0,26924951.0,57.99,15.3,None,None,None,None,None,None,...,15.3,0.4,0.0,0.83,0.4,1343.0,125.0,1015.0,2.0,F
98,10039997.0,24294180.0,67.68,8.5,0.02,0.16,1.33,0.5,2.75,0.4,...,8.5,0.9,0.0,0.81,0.9,16.0,73.0,15.0,0.2,F
99,10040025.0,27125816.0,64.21,8.9,0.01,0.11,1.08,0.92,9.08,0.1,...,8.9,1.5,1.0,0.82,1.5,7.0,199.0,16.0,0.7,F

In [16]:
base_data_predict.toPandas()

    subject_id charlson_comorbidity_index
0   10000032.0                        3.0
1   10001217.0                        1.0
2   10001725.0                        1.0
3   10002428.0                        4.0
4   10002495.0                        7.0
..         ...                        ...
95  10038999.0                        0.0
96  10039708.0                        7.0
97  10039831.0                        7.0
98  10039997.0                        8.0
99  10040025.0                        8.0

[100 rows x 2 columns]

In [17]:
base_data.toPandas().to_csv("../data/EDA/clustering_data.csv")
base_data_predict.toPandas().to_csv("../data/EDA/prediction_value.csv")