In [1]:
import os
import sys

In [2]:
os.environ["PYSPARK_PYTHON"]="C:\Spark\spark-3.3.2-bin-hadoop2\python"
os.environ["JAVA_HOME"] = "C:\Program Files\Java\jdk-18.0.2.1"
os.environ["SPARK_HOME"] = "C:\Spark\spark-3.3.2-bin-hadoop2"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.9.5-src.zip")
sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("r_model").getOrCreate()
spark

In [9]:
cluster_data = spark.read.option("header","true").csv("../data/EDA/clustering_data.csv")
cluster_data.printSchema()
cluster_data = cluster_data.drop("_c0")
cluster_data.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- subject_id: string (nullable = true)
 |-- hadm_id: string (nullable = true)
 |-- age: string (nullable = true)
 |-- db_wbc: string (nullable = true)
 |-- basophils_abs: string (nullable = true)
 |-- eosinophils_abs: string (nullable = true)
 |-- lymphocytes_abs: string (nullable = true)
 |-- monocytes_abs: string (nullable = true)
 |-- neutrophils_abs: string (nullable = true)
 |-- basophils: string (nullable = true)
 |-- eosinophils: string (nullable = true)
 |-- lymphocytes: string (nullable = true)
 |-- monocytes: string (nullable = true)
 |-- neutrophils: string (nullable = true)
 |-- aniongap: string (nullable = true)
 |-- bicarbonate: string (nullable = true)
 |-- bun: string (nullable = true)
 |-- calcium: string (nullable = true)
 |-- chloride: string (nullable = true)
 |-- creatinine: string (nullable = true)
 |-- glucose: string (nullable = true)
 |-- sodium: string (nullable = true)
 |-- potassium: string (nullable = true)
 |-- inr: string (nullable = true)
 |-- pt: string (nullable = true)
 |-- ptt: string (nullable = true)
 |-- hematocrit: string (nullable = true)
 |-- hemoglobin: string (nullable = true)
 |-- mch: string (nullable = true)
 |-- mchc: string (nullable = true)
 |-- mcv: string (nullable = true)
 |-- platelet: string (nullable = true)
 |-- rbc: string (nullable = true)
 |-- rdw: string (nullable = true)
 |-- wbc: string (nullable = true)
 |-- scr_min: string (nullable = true)
 |-- ckd: string (nullable = true)
 |-- mdrd_est: string (nullable = true)
 |-- scr_baseline: string (nullable = true)
 |-- alt: string (nullable = true)
 |-- alp: string (nullable = true)
 |-- ast: string (nullable = true)
 |-- bilirubin_total: string (nullable = true)
 |-- gender: string (nullable = true)

root
 |-- subject_id: string (nullable = true)
 |-- hadm_id: string (nullable = true)
 |-- age: string (nullable = true)
 |-- db_wbc: string (nullable = true)
 |-- basophils_abs: string (nullable = true)
 |-- eosinophils_abs: string (nullable = true)
 |-- lymphocytes_abs: string (nullable = true)
 |-- monocytes_abs: string (nullable = true)
 |-- neutrophils_abs: string (nullable = true)
 |-- basophils: string (nullable = true)
 |-- eosinophils: string (nullable = true)
 |-- lymphocytes: string (nullable = true)
 |-- monocytes: string (nullable = true)
 |-- neutrophils: string (nullable = true)
 |-- aniongap: string (nullable = true)
 |-- bicarbonate: string (nullable = true)
 |-- bun: string (nullable = true)
 |-- calcium: string (nullable = true)
 |-- chloride: string (nullable = true)
 |-- creatinine: string (nullable = true)
 |-- glucose: string (nullable = true)
 |-- sodium: string (nullable = true)
 |-- potassium: string (nullable = true)
 |-- inr: string (nullable = true)
 |-- pt: string (nullable = true)
 |-- ptt: string (nullable = true)
 |-- hematocrit: string (nullable = true)
 |-- hemoglobin: string (nullable = true)
 |-- mch: string (nullable = true)
 |-- mchc: string (nullable = true)
 |-- mcv: string (nullable = true)
 |-- platelet: string (nullable = true)
 |-- rbc: string (nullable = true)
 |-- rdw: string (nullable = true)
 |-- wbc: string (nullable = true)
 |-- scr_min: string (nullable = true)
 |-- ckd: string (nullable = true)
 |-- mdrd_est: string (nullable = true)
 |-- scr_baseline: string (nullable = true)
 |-- alt: string (nullable = true)
 |-- alp: string (nullable = true)
 |-- ast: string (nullable = true)
 |-- bilirubin_total: string (nullable = true)
 |-- gender: string (nullable = true)

In [10]:
predict_data = spark.read.option("header","true").csv("../data/EDA/prediction_value.csv")
predict_data.printSchema()
predict_data = predict_data.drop("_c0")
predict_data.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- subject_id: string (nullable = true)
 |-- charlson_comorbidity_index: string (nullable = true)

root
 |-- subject_id: string (nullable = true)
 |-- charlson_comorbidity_index: string (nullable = true)

In [11]:
# remove subject_id and hadm_id columns
cluster_data = cluster_data.drop("subject_id","hadm_id")
predict_data = predict_data.drop("subject_id")

In [12]:
print(cluster_data.count())
print(predict_data.count())

100
100

In [17]:
# convert all values to double
import pyspark.sql.functions as F
print(cluster_data.printSchema())
cluster_data = cluster_data.select(*(F.round(F.col(c).cast("double"), 2).alias(c) for c in cluster_data.columns))
print(cluster_data.printSchema())

root
 |-- age: string (nullable = true)
 |-- db_wbc: string (nullable = true)
 |-- basophils_abs: string (nullable = true)
 |-- eosinophils_abs: string (nullable = true)
 |-- lymphocytes_abs: string (nullable = true)
 |-- monocytes_abs: string (nullable = true)
 |-- neutrophils_abs: string (nullable = true)
 |-- basophils: string (nullable = true)
 |-- eosinophils: string (nullable = true)
 |-- lymphocytes: string (nullable = true)
 |-- monocytes: string (nullable = true)
 |-- neutrophils: string (nullable = true)
 |-- aniongap: string (nullable = true)
 |-- bicarbonate: string (nullable = true)
 |-- bun: string (nullable = true)
 |-- calcium: string (nullable = true)
 |-- chloride: string (nullable = true)
 |-- creatinine: string (nullable = true)
 |-- glucose: string (nullable = true)
 |-- sodium: string (nullable = true)
 |-- potassium: string (nullable = true)
 |-- inr: string (nullable = true)
 |-- pt: string (nullable = true)
 |-- ptt: string (nullable = true)
 |-- hematocrit: string (nullable = true)
 |-- hemoglobin: string (nullable = true)
 |-- mch: string (nullable = true)
 |-- mchc: string (nullable = true)
 |-- mcv: string (nullable = true)
 |-- platelet: string (nullable = true)
 |-- rbc: string (nullable = true)
 |-- rdw: string (nullable = true)
 |-- wbc: string (nullable = true)
 |-- scr_min: string (nullable = true)
 |-- ckd: string (nullable = true)
 |-- mdrd_est: string (nullable = true)
 |-- scr_baseline: string (nullable = true)
 |-- alt: string (nullable = true)
 |-- alp: string (nullable = true)
 |-- ast: string (nullable = true)
 |-- bilirubin_total: string (nullable = true)
 |-- gender: string (nullable = true)

None
root
 |-- age: double (nullable = true)
 |-- db_wbc: double (nullable = true)
 |-- basophils_abs: double (nullable = true)
 |-- eosinophils_abs: double (nullable = true)
 |-- lymphocytes_abs: double (nullable = true)
 |-- monocytes_abs: double (nullable = true)
 |-- neutrophils_abs: double (nullable = true)
 |-- basophils: double (nullable = true)
 |-- eosinophils: double (nullable = true)
 |-- lymphocytes: double (nullable = true)
 |-- monocytes: double (nullable = true)
 |-- neutrophils: double (nullable = true)
 |-- aniongap: double (nullable = true)
 |-- bicarbonate: double (nullable = true)
 |-- bun: double (nullable = true)
 |-- calcium: double (nullable = true)
 |-- chloride: double (nullable = true)
 |-- creatinine: double (nullable = true)
 |-- glucose: double (nullable = true)
 |-- sodium: double (nullable = true)
 |-- potassium: double (nullable = true)
 |-- inr: double (nullable = true)
 |-- pt: double (nullable = true)
 |-- ptt: double (nullable = true)
 |-- hematocrit: double (nullable = true)
 |-- hemoglobin: double (nullable = true)
 |-- mch: double (nullable = true)
 |-- mchc: double (nullable = true)
 |-- mcv: double (nullable = true)
 |-- platelet: double (nullable = true)
 |-- rbc: double (nullable = true)
 |-- rdw: double (nullable = true)
 |-- wbc: double (nullable = true)
 |-- scr_min: double (nullable = true)
 |-- ckd: double (nullable = true)
 |-- mdrd_est: double (nullable = true)
 |-- scr_baseline: double (nullable = true)
 |-- alt: double (nullable = true)
 |-- alp: double (nullable = true)
 |-- ast: double (nullable = true)
 |-- bilirubin_total: double (nullable = true)
 |-- gender: double (nullable = true)

None

In [ ]:
# fill the missing values with the standard normal values in medical terms

In [22]:
from pyspark.ml.feature import VectorAssembler
assemble = VectorAssembler(inputCols=cluster_data.columns, outputCol='features')
assembled_data = assemble.setHandleInvalid("keep").transform(cluster_data)
assembled_data.toPandas()

,age,db_wbc,basophils_abs,eosinophils_abs,lymphocytes_abs,monocytes_abs,neutrophils_abs,basophils,eosinophils,lymphocytes,...,scr_min,ckd,mdrd_est,scr_baseline,alt,alp,ast,bilirubin_total,gender,features
0,52.35,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3,0.0,0.85,0.3,88.0,103.0,98.0,1.3,NaN,"[52.35, 4.2, nan, nan, nan, nan, nan, nan, nan..."
1,55.88,19.0,0.13,0.29,5.17,1.18,12.24,0.7,1.5,27.2,...,0.4,0.0,0.84,0.4,12.0,56.0,17.0,0.4,NaN,"[55.88, 19.0, 0.13, 0.29, 5.17, 1.18, 12.24, 0..."
2,46.28,20.1,0.22,0.42,5.73,0.94,18.99,1.1,2.1,28.5,...,0.8,0.0,0.86,0.8,NaN,NaN,NaN,NaN,NaN,"[46.28, 20.1, 0.22, 0.42, 5.73, 0.94, 18.99, 1..."
3,80.53,6.0,0.17,1.90,6.01,1.17,28.49,0.5,5.7,18.0,...,0.8,0.0,0.78,0.8,66.0,163.0,102.0,0.2,NaN,"[80.53, 6.0, 0.17, 1.9, 6.01, 1.17, 28.49, 0.5..."
4,81.39,36.8,0.00,0.22,1.79,2.21,33.49,0.0,2.0,16.0,...,1.1,0.0,1.01,1.1,44.0,99.0,210.0,0.6,NaN,"[81.39, 36.8, 0.0, 0.22, 1.79, 2.21, 33.49, 0...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,45.39,11.5,0.03,0.26,1.56,1.17,7.60,0.3,3.0,17.4,...,0.6,0.0,1.12,0.6,54.0,127.0,36.0,1.5,NaN,"[45.39, 11.5, 0.03, 0.26, 1.56, 1.17, 7.6, 0.3..."
96,46.83,7.0,0.21,0.39,6.32,1.64,14.35,1.0,3.0,49.0,...,0.8,0.0,0.86,0.8,70.0,325.0,139.0,4.6,NaN,"[46.83, 7.0, 0.21, 0.39, 6.32, 1.64, 14.35, 1...."
97,57.99,15.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.4,0.0,0.83,0.4,1343.0,125.0,1015.0,2.0,NaN,"[57.99, 15.3, nan, nan, nan, nan, nan, nan, na..."
98,67.68,8.5,0.02,0.16,1.33,0.50,2.75,0.4,3.4,27.9,...,0.9,0.0,0.81,0.9,16.0,73.0,15.0,0.2,NaN,"[67.68, 8.5, 0.02, 0.16, 1.33, 0.5, 2.75, 0.4,..."
99,64.21,8.9,0.01,0.11,1.08,0.92,9.08,0.1,1.0,9.5,...,1.5,1.0,0.82,1.5,7.0,199.0,16.0,0.7,NaN,"[64.21, 8.9, 0.01, 0.11, 1.08, 0.92, 9.08, 0.1..."

In [23]:
from pyspark.ml.feature import StandardScaler
scale=StandardScaler(inputCol='features',outputCol='standardized')
data_scale=scale.fit(assembled_data)
data_scale_output=data_scale.transform(assembled_data)
data_scale_output.toPandas()

,age,db_wbc,basophils_abs,eosinophils_abs,lymphocytes_abs,monocytes_abs,neutrophils_abs,basophils,eosinophils,lymphocytes,...,ckd,mdrd_est,scr_baseline,alt,alp,ast,bilirubin_total,gender,features,standardized
0,52.35,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.85,0.3,88.0,103.0,98.0,1.3,NaN,"[52.35, 4.2, nan, nan, nan, nan, nan, nan, nan...","[3.2528477642368783, 0.486745135530605, nan, n..."
1,55.88,19.0,0.13,0.29,5.17,1.18,12.24,0.7,1.5,27.2,...,0.0,0.84,0.4,12.0,56.0,17.0,0.4,NaN,"[55.88, 19.0, 0.13, 0.29, 5.17, 1.18, 12.24, 0...","[3.472189743372622, 2.201942279781308, nan, na..."
2,46.28,20.1,0.22,0.42,5.73,0.94,18.99,1.1,2.1,28.5,...,0.0,0.86,0.8,NaN,NaN,NaN,NaN,NaN,"[46.28, 20.1, 0.22, 0.42, 5.73, 0.94, 18.99, 1...","[2.8756789785841974, 2.3294231486107524, nan, ..."
3,80.53,6.0,0.17,1.90,6.01,1.17,28.49,0.5,5.7,18.0,...,0.0,0.78,0.8,66.0,163.0,102.0,0.2,NaN,"[80.53, 6.0, 0.17, 1.9, 6.01, 1.17, 28.49, 0.5...","[5.003855405042899, 0.6953501936151499, nan, n..."
4,81.39,36.8,0.00,0.22,1.79,2.21,33.49,0.0,2.0,16.0,...,0.0,1.01,1.1,44.0,99.0,210.0,0.6,NaN,"[81.39, 36.8, 0.0, 0.22, 1.79, 2.21, 33.49, 0....","[5.057292827721863, 4.264814520839586, nan, na..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,45.39,11.5,0.03,0.26,1.56,1.17,7.60,0.3,3.0,17.4,...,0.0,1.12,0.6,54.0,127.0,36.0,1.5,NaN,"[45.39, 11.5, 0.03, 0.26, 1.56, 1.17, 7.6, 0.3...","[2.8203774597652704, 1.3327545377623706, nan, ..."
96,46.83,7.0,0.21,0.39,6.32,1.64,14.35,1.0,3.0,49.0,...,0.0,0.86,0.8,70.0,325.0,139.0,4.6,NaN,"[46.83, 7.0, 0.21, 0.39, 6.32, 1.64, 14.35, 1....","[2.9098540744835337, 0.8112418925510083, nan, ..."
97,57.99,15.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.83,0.4,1343.0,125.0,1015.0,2.0,NaN,"[57.99, 15.3, nan, nan, nan, nan, nan, nan, na...","[3.603297838550078, 1.7731429937186325, nan, n..."
98,67.68,8.5,0.02,0.16,1.33,0.50,2.75,0.4,3.4,27.9,...,0.0,0.81,0.9,16.0,73.0,15.0,0.2,NaN,"[67.68, 8.5, 0.02, 0.16, 1.33, 0.5, 2.75, 0.4,...","[4.205400891758394, 0.9850794409547957, nan, n..."
99,64.21,8.9,0.01,0.11,1.08,0.92,9.08,0.1,1.0,9.5,...,1.0,0.82,1.5,7.0,199.0,16.0,0.7,NaN,"[64.21, 8.9, 0.01, 0.11, 1.08, 0.92, 9.08, 0.1...","[3.9897871049025775, 1.0314361205291391, nan, ..."

In [24]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
silhouette_score=[]

evaluator = ClusteringEvaluator(predictionCol='prediction', featuresCol='standardized', \
                                metricName='silhouette', distanceMeasure='squaredEuclidean')
for i in range(2,10):
    
    KMeans_algo=KMeans(featuresCol='standardized', k=i)
    
    KMeans_fit=KMeans_algo.fit(data_scale_output)
    
    output=KMeans_fit.transform(data_scale_output)
    
    
    
    score=evaluator.evaluate(output)
    
    silhouette_score.append(score)
    
    print("Silhouette Score:",score)

Py4JJavaError: An error occurred while calling o404.fit.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 27.0 failed 1 times, most recent failure: Lost task 0.0 in stage 27.0 (TID 24) (DESKTOP-0OH3S55 executor driver): java.lang.IllegalArgumentException: requirement failed: Both norms should be greater or equal to 0.0, found norm1=NaN, norm2=NaN
	at scala.Predef$.require(Predef.scala:281)
	at org.apache.spark.mllib.util.MLUtils$.fastSquaredDistance(MLUtils.scala:543)
	at org.apache.spark.mllib.clustering.EuclideanDistanceMeasure$.fastSquaredDistance(DistanceMeasure.scala:414)
	at org.apache.spark.mllib.clustering.EuclideanDistanceMeasure.findClosest(DistanceMeasure.scala:309)
	at org.apache.spark.mllib.clustering.DistanceMeasure.findClosest(DistanceMeasure.scala:132)
	at org.apache.spark.mllib.clustering.KMeans.$anonfun$runAlgorithmWithWeight$6(KMeans.scala:307)
	at org.apache.spark.mllib.clustering.KMeans.$anonfun$runAlgorithmWithWeight$6$adapted(KMeans.scala:306)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at org.apache.spark.mllib.clustering.KMeans.$anonfun$runAlgorithmWithWeight$4(KMeans.scala:306)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:855)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:855)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2238)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2259)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2278)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1021)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:406)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1020)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$collectAsMap$1(PairRDDFunctions.scala:738)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:406)
	at org.apache.spark.rdd.PairRDDFunctions.collectAsMap(PairRDDFunctions.scala:737)
	at org.apache.spark.mllib.clustering.KMeans.runAlgorithmWithWeight(KMeans.scala:315)
	at org.apache.spark.mllib.clustering.KMeans.runWithWeight(KMeans.scala:231)
	at org.apache.spark.ml.clustering.KMeans.$anonfun$fit$1(KMeans.scala:354)
	at org.apache.spark.ml.util.Instrumentation$.$anonfun$instrumented$1(Instrumentation.scala:191)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.ml.util.Instrumentation$.instrumented(Instrumentation.scala:191)
	at org.apache.spark.ml.clustering.KMeans.fit(KMeans.scala:329)
	at org.apache.spark.ml.clustering.KMeans.fit(KMeans.scala:272)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:104)
	at java.base/java.lang.reflect.Method.invoke(Method.java:577)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.lang.IllegalArgumentException: requirement failed: Both norms should be greater or equal to 0.0, found norm1=NaN, norm2=NaN
	at scala.Predef$.require(Predef.scala:281)
	at org.apache.spark.mllib.util.MLUtils$.fastSquaredDistance(MLUtils.scala:543)
	at org.apache.spark.mllib.clustering.EuclideanDistanceMeasure$.fastSquaredDistance(DistanceMeasure.scala:414)
	at org.apache.spark.mllib.clustering.EuclideanDistanceMeasure.findClosest(DistanceMeasure.scala:309)
	at org.apache.spark.mllib.clustering.DistanceMeasure.findClosest(DistanceMeasure.scala:132)
	at org.apache.spark.mllib.clustering.KMeans.$anonfun$runAlgorithmWithWeight$6(KMeans.scala:307)
	at org.apache.spark.mllib.clustering.KMeans.$anonfun$runAlgorithmWithWeight$6$adapted(KMeans.scala:306)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at org.apache.spark.mllib.clustering.KMeans.$anonfun$runAlgorithmWithWeight$4(KMeans.scala:306)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:855)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:855)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	... 1 more